<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> .Title  | Tuozhe Ma</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="header">
    <div class="site-title">Tuozhe Ma</div>

    <nav class="nav">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/research/">Research</a>
      <a href="/projects/">Projects</a>
      <a href="/cv/">CV</a>
    </nav>
  </header>

  <main class="container page">
    <h1> .Title </h1>

    <article>
       .Content 
    </article>
  </main>

  <footer class="footer">
    © Tuozhe Ma
  </footer>
</body>
</html>
